<html>
<head>
<title>Video</title>
</head>
<body>
<p>
<!-- http://player.youku.com/embed/XNTg2NTU3NDc2 -->
<video src="http://v.youku.com/player/getM3U8/vid/146639369/type/flv/ts/1374635761/useKeyFrame/0/v.m3u8" width="100%" controls="controls">
Your browser does not support the video tag.
</video>

<a href="http://player.youku.com/embed/XNTg2NTU3NDc2">W3School</a>

<iframe width="100%" src="http://player.youku.com/embed/XNTg2NTU3NDc2" frameborder=0 allowfullscreen></iframe>

<embed src="http://player.youku.com/player.php/sid/XNTg2NTU3NDc2/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>

</p>
</body>
</html>